{% extends 'base/base.html' %}
{% load static %}
{%block title%}
products home
{%endblock%}
{%block css%}
{%endblock%}
{%block content%}

{% load crispy_forms_tags %}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
        <h1 class="mb-0 bread">Checkout</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 ftco-animate">

        {% if messages %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Thank You!</h4>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}


        <form action="#" class="billing-form" method="post">
          {% csrf_token %}
          <h3 class="mb-4 billing-heading">Billing Details</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Firt Name</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.first_name}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.last_name}}
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="country">State / Country</label>
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    {{ form.country }}
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Street Address</label>
                <!-- <input type="text" class="form-control" placeholder="House number and street name"> -->
                {{form.street}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!-- <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)"> -->
                {{form.apartment}}
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="towncity">Town / City</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.town}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="postcodezip">Postcode / ZIP *</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.zip}}
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.phone}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                {{form.email}}
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group mt-4">
                <div class="radio">
                  <label class="mr-3">{{form.same_billing_addres}} Same billing addres? </label>
                  <label>{{form.save_info}} Save info</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5 pt-3 d-flex">
            <div class="col-md-6 d-flex">
                <div class="cart-detail cart-total bg-light p-3 p-md-4">
                  <h3 class="billing-heading mb-4">Cart Total</h3>
                  <p class="d-flex">
                    <span>Subtotal</span>
                    <span>${{order.get_total}}</span>
                  </p>
                  <p class="d-flex">
                    <span>Delivery</span>
                    <span>$0.00</span>
                  </p>
                  <p class="d-flex">
                    <span>Discount</span>
                    <span>$0.00</span>
                  </p>
                  <hr>
                  <p class="d-flex total-price">
                    <span>Total</span>
                    <span>${{order.get_total}}</span>
                  </p>
                </div>

            </div>
            <div class="col-md-6">
              <div class="cart-detail bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>

                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                       <label>{{form.payment_option}}</label>
                    </div>
                  </div>
                </div>

                <p><button type='submit' class="btn btn-primary py-3 px-4">Place an order</button></p>
              </div>
            </div>
          </div>
        </form><!-- END -->




      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->


{%endblock%}
