{% extends 'base/base.html' %}
{% load static %}
{%block title%}
products home
{%endblock%}
{%block css%}
{%endblock%}
{%block content%}

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 ftco-animate">

        <!-- Set up a container element for the button -->
           <div id="paypal-button-container"></div>

           <!-- Include the PayPal JavaScript SDK -->
           <script src="https://www.paypal.com/sdk/js?client-id=AeF6pgYqDfyEhhesP9rrv6zHzdhNU3ohUPBHIN2Iy83DVCPW1Sg8zfqkfu7AC7GgVrC7mX7av3Cj_F_c&disable-funding=credit,card"></script>

           <script>
               // Render the PayPal button into #paypal-button-container
               paypal.Buttons({

                   // Set up the transaction
                   createOrder: function(data, actions) {
                       return actions.order.create({
                           purchase_units: [{
                               amount: {
                                   value: '{{order.get_total}}'
                               }
                           }]
                       });
                   },

                   // Finalize the transaction
                   onApprove: function(data, actions) {
                       return actions.order.capture().then(function(orderData) {
                           // Successful capture! For demo purposes:
                           console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                           var transaction = orderData.purchase_units[0].payments.captures[0];
                           alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                           window.location.href = "{% url 'cart:payment_completed' %}"

                           // Replace the above to show a success message within this page, e.g.
                           // const element = document.getElementById('paypal-button-container');
                           // element.innerHTML = '';
                           // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                           // Or go to another URL:  actions.redirect('thank_you.html');
                       });
                   }


               }).render('#paypal-button-container');
           </script>
      </div>
    </div>
  </div>

</section>

{%endblock%}
