{% extends 'base/base.html' %}
{% load static %}
{%block title%}
products home
{%endblock%}
{%block css%}
{%endblock%}
{%block content%}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
            <h1 class="mb-0 bread">Shop</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row">
              {% for product in all_products_fashion %}
  		    			<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
  		    				<div class="product d-flex flex-column">
  		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{product.image.url}}" alt="Colorlib Template">
  		    						<div class="overlay"></div>
  		    					</a>
  		    					<div class="text py-3 pb-4 px-3">
  		    						<div class="d-flex">
  		    							<div class="cat">
  				    						<span>{{product.category.category_name}}</span>
  				    					</div>
  				    					<div class="rating">
  			    							<p class="text-right mb-0">
  			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
  			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
  			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
  			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
  			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
  			    							</p>
  			    						</div>
  			    					</div>
  		    						<h3><a href="#">{{product.product_name}}</a></h3>
  		    						<div class="pricing">
  			    						<p class="price"><span>${{product.price}}</span></p>
  			    					</div>
  			    					<p class="bottom-area d-flex px-3">
  		    							<a href="{% url 'products:add_to_cart' product.id %}" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
  		    							<a href="{% url 'products:product_detail' product.id %}" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
  		    						</p>
  		    					</div>
  		    				</div>
  		    			</div>
              {% endfor %}

		    		</div>
		    		<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
                  <span class="step-links">
                      {% if all_products_fashion.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ all_products_fashion.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ all_products_fashion.number }} of {{ all_products_fashion.paginator.num_pages }}.
                      </span>

                      {% if all_products_fashion.has_next %}
                          <a href="?page={{ all_products_fashion.next_page_number }}">next</a>
                          <a href="?page={{ all_products_fashion.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>

		            </div>
		          </div>
		        </div>
		    	</div>

          <div class="sidebar-box">
            <form class="search-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <span class="icon ion-ios-search"></span>
                <input type="text" class="form-control" name='search_product' placeholder="Type a keyword and hit enter">
              </div>
              <div align="center">
                <button type="submit" class="btn btn-primary py-2 px-3">Search</button>
              </div>

            </form>
          </div>

		    	<div class="col-md-4 col-lg-2">

		    		<div class="sidebar">
							<div class="sidebar-box-2">
								<h2 class="heading">Categories</h2>
								<div class="fancy-collapse-panel">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingOne">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Men's Shoes
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                             <div class="panel-body">
                                 <ul>
                                 	<li><a href="#">Sport</a></li>
                                 	<li><a href="#">Casual</a></li>
                                 	<li><a href="#">Running</a></li>
                                 	<li><a href="#">Jordan</a></li>
                                 	<li><a href="#">Soccer</a></li>
                                 	<li><a href="#">Football</a></li>
                                 	<li><a href="#">Lifestyle</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Women's Shoes
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Sport</a></li>
                                 	<li><a href="#">Casual</a></li>
                                 	<li><a href="#">Running</a></li>
                                 	<li><a href="#">Jordan</a></li>
                                 	<li><a href="#">Soccer</a></li>
                                 	<li><a href="#">Football</a></li>
                                 	<li><a href="#">Lifestyle</a></li>
                                </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingThree">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accessories
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Jeans</a></li>
                                 	<li><a href="#">T-Shirt</a></li>
                                 	<li><a href="#">Jacket</a></li>
                                 	<li><a href="#">Shoes</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingFour">
                             <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Clothing
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                             <div class="panel-body">
                                <ul>
                                 	<li><a href="#">Jeans</a></li>
                                 	<li><a href="#">T-Shirt</a></li>
                                 	<li><a href="#">Jacket</a></li>
                                 	<li><a href="#">Shoes</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                  </div>
               </div>
							</div>
							<div class="sidebar-box-2">
								<h2 class="heading">Price Range</h2>
	
                <form method="get">
                  {{ all_products_filter.form.as_p }}
                  <button type="submit" class="btn btn-primary py-2 px-3">Search</button>
              </form>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>



{%endblock%}
